.patisserie-img-acceuil{
    background-image: url("../img/acceuil-image-1.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tille-acceuil{
    background-color: rgba(0, 0, 0, 0.5);
    height: 80vh;
  
  }

  /* .btn-commande{
    margin-left: 400px;
    
  } */

  
  .commande{
        margin: 2% 35% 2% 35%;
        width: 300px;
        height: 70px;
        font-size: 20px;
        background-color: #FF7E55;
        color: white;
        border-radius: 5px;
    
  }
  .navposition{
    margin: 0 20%;
  }
  nav {
    margin: -43% 15%;
  }
  li{
      font-size: 20px;
  }
  .btn-commande{
    margin-left: 400px !important;
    margin-top: 200px!important;
  }

  @media all and (max-width: 1440px){
    .navposition{
      margin: 0 0% !important;
    }
    .btn-commande{
      margin-left: 400px !important;
      margin-top: 300px !important;
    }

  }
  @media all and (max-width: 1024px){
    nav{
      margin: 0 !important;
    }
  }

  @media all and (max-width: 768px){
    .galerie-traiteur{
        width: 150px;
    }
    .sandwich{
      width: 300px;
    }
    .btn-commande{
      margin-left: 222px;
    }
    
    .fraise {
      width: 398px;
      margin-left: 0px;
}
  }

  @media all and (max-width: 425px){
    .img-patisserie{
        flex-wrap: wrap;
    }
    #galerie-service {
        flex-wrap: wrap;
    }

    .fraise {
      width: 350px !important;
      margin-left: 0px !important;
    }

    .btn-commande{
      margin-left: 100px;
    }
    .btn-secondary{
      display: none !important;
    }
    
  }

  @media all and (max-width: 425px){
    .fraise {
      width: 280px !important;
      margin-left: 0px !important;
    }
  }

  @media all and (max-width: 320px){
    .fraise {
      width: 250px !important;
      margin-left: 0px !important;
    }
    .card-img{
      width: 250px !important;
    }
    /* h1 {
      font-size: 15px;
    } */

  }